.action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  &__name {
    font-weight: bold;
  }
  &__icon {
    display: flex;
    justify-content: center;
    width: 110px;
  }
}