// roboto font
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500');

// veritone icons
@import url('https://static.veritone.com/veritone-ui/veritone-icons-6/style.css');
@import url(https://static.veritone.com/engines/assets/v001/style.css);

// colors

$green-primary: #4caf50;
$green-bright: #00c753;

$grey-1: #fafafa;
$grey-2: #eee;
$grey-3: #e8e8e8;
$grey-4: #e0e0e0;
$grey-5: #727272;

$blue-1: #2196f3;
$blue-2: darken(#2196f3, 15%);

$full-black: rgba(0, 0, 0, 1);
$dark-black: rgba(0, 0, 0, 0.87);
$light-black: rgba(0, 0, 0, 0.54);
$min-black: rgba(0, 0, 0, 0.38);
$faint-black: rgba(0, 0, 0, 0.12);
$barely-black: rgba(0, 0, 0, 0.05);

$fullWhite: rgba(255, 255, 255, 1);
$darkWhite: rgba(255, 255, 255, 0.87);
$lightWhite: rgba(255, 255, 255, 0.54);

// grid

$width: 96%;
$gutter: 4%;
$breakpoint-small: 33.75em; // 540px
$breakpoint-med: 45em; // 720px
$breakpoint-large: 60em; // 960px

// elements

$topBarHeight: 60px;

// fonts

$defaultFontColor: $dark-black;
$defaultFontSize: 14px;
$defaultMicroFontSize: 12px;


html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

html {
  color: $defaultFontColor;
  font-size: $defaultFontSize;
  line-height: 1.4;
  box-sizing: border-box;
}

body {
  min-width: 375px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p {
  font-weight: 200;
  line-height: 1.8;
}

// workaround https://github.com/callemall/material-ui/issues/283
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

#root {
  height: 100%;
}

.wrapper {
  height: 100%;
}

// header element
.header {

  display: flex;
  justify-content: space-between;

  &--fixed {
    position: fixed;
    background: $green-primary;
    height: $topBarHeight;
    left: 0;
    right: 0;
    top: 0;
  }

  padding: 0 24px;
  height: 60px !important;

  .content {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        height: 24px;
      }

    }

    .controls {
      position: relative;
      width: 200px;
      margin-right: -24px;

      &__element {
        font-family: Roboto,Helvetica Neue,sans-serif;
        display: inline-block;
        padding: 0 4px;
        color: #FFF;
        font-weight: 400!important;
        font-size: 12px!important;
        line-height: 16px!important;
        color: #fff;
        display: inline-block;
        margin: 0;
        opacity: .87;
      }
    }

  }

}

// footer element
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: #f2f2f2;
  display: flex;
  padding: 0 24px;
  font-size: $defaultMicroFontSize;

  .content {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
}


// main container
.container {

  height: 100%;

  &.topBarOffset {
    padding-top: $topBarHeight;
  }
}

h1 {
  font-size: 20px;
}

.cta {

  background: #f2f2f2;
  border-left: 3px solid $blue-1;
  margin-bottom: 14px;

  small {
    color: $light-black;
  }

  button {

    border: 10px;
    box-sizing: border-box;
    display: inline-block;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    outline: none;
    font-size: inherit;
    font-weight: inherit;
    position: relative;
    z-index: 1;
    height: 36px;
    line-height: 36px;
    width: 100%;
    border-radius: 2px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    background-color: rgb(33, 150, 243);
    text-align: center;

    &.cta__button--blue {
      border-radius: 2px;
      transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      top: 0px;
      color: rgb(255, 255, 255);
      background: $blue-1;
    }

  }
}

.cta:hover {
  background: #f1f1f1;
  border-left: 3px solid $green-primary;
}

.cta button span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.cta button span:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.cta button span:active {
  background-color: rgba(255, 255, 255, 0.1);
}

.topDivider {
  margin-top: 10px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}
