@import '../../Branding/styles/variables.scss';
//@import 'src/resources/styles/modules/muiTypography';

.container {
  //@include mui-text("caption");

  color: $blue-1;
  display: flex;
  align-content: center;
  cursor: pointer;

  svg {
    color: $blue-1 !important;
    height: 16px !important;
  }
}
