// @import 'src/resources/styles/modules/variables';
// @import '~shared-components/AppBar/styles/variables';
// @import './variables';
@import '../../Branding/styles/variables.scss';
//@import 'src/resources/styles/modules/muiTypography';

$appNavigation-width: 240px;
$appNavigation-width-mobile: 100px;

.topBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $topbar-height;
  background-color: $grey-1;
  border-bottom: 1px solid $grey-3;
  z-index: 900; // just below AppBar
  box-shadow:
    rgba(0, 0, 0, 0.117647) 0 1px 6px,
    rgba(0, 0, 0, 0.117647) 0 1px 4px;

  &--appBar-offset {
    top: $appbar-height;
  }
}

.appNavigation-container {
  display: inline-block;
  align-items: center;
  position: absolute;
  left: 0;
  width: $appNavigation-width;
  height: 100%;
  border-right: 1px solid $grey-3;

  &__button {
    height: 100% !important;
    width: 100% !important;
  }

  &__button-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
  }

  @media only screen and (max-width: $breakpoint-small) {
    width: $appNavigation-width-mobile;
  }
}

.label--mobile {
  @media only screen and (max-width: $breakpoint-small) {
    display: none;
  }
}

.label--desktop {
  @media only screen and (min-width: $breakpoint-small) {
    display: none;
  }
}

.appNavigation-popover-menu {
  width: $appNavigation-width;

  a {
    text-decoration: none;
  }
}

.actions-container {
  //display: inline-block;
  position: absolute;
  left: $appNavigation-width;
  right: 0;
  height: 100%;
  //width: auto;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;

  @media only screen and (max-width: $breakpoint-small) {
    left: $appNavigation-width-mobile;
  }

  &__item {
    display: inline-block;
  }
}

.has-topbar-offset {
  padding-top: $topbar-height;
}

.popover {
  width: 315px !important;
}
